.body{
    max-width: 1280px;

}
.heading{
    display: flex;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
}
.nav{
    display: flex;
    flex-direction: row;
    border: none;
}
.bannerContainer{
    display:flex;
    width:100%;
    justify-content: space-around;
    padding: 20px;
}
.banner{
    background-image: url("Group 13 (1) (1).png");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inp{
    border-color: transparent;
    margin: .5rem;
    padding:.5rem;
    border-radius: 5px;
}
.popT{
    padding:20px;
    max-width: 50%;
}
.optns{
    padding:20px;
    justify-content:center;
    border-radius: 10px;
    background-color: antiquewhite;
    background-color: rgba(250, 235, 215, 0.423);
    display: flex;
    margin:2rem;
}
.twp{
    display:flex;
    justify-content: space-around;
}
.chooseDestination{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: 2rem 2rem 2rem 2rem;
}
.destinations{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;

}
.maldives {
    position: relative;
  }
.maldives  h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }
.indonesia {
    position: relative;
  }
.indonesia h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }
.srilanka {
    position: relative;
  }
.srilanka h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }

  .northAmerica {
    position: relative;
  }
.northAmerica h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }
  .kashmir {
    position: relative;
  }
.kashmir h1 {
    position: absolute;
    text-align:start;
    padding: 20px;
    top: 30%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }
  .bangladesh {
    position: relative;
  }
.bangladesh h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }
  .bandarban {
    position: relative;
  }
.bandarban h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
  }

.whyChooseUs{
    display:flex;
    flex-direction: column;
}
.wcuSections{
    display: flex;
    justify-content: space-between;
    padding:5%;

}
.dealsDiscounts{
    display: flex;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 2rem 2rem 2rem;
}
.dd1{
    background-image: url("Group 39.png");
    background-size:auto;
    background-repeat: no-repeat, no-repeat;
    width:100%;
    height:auto;
    padding:50px;
    margin: 2rem 2rem 2rem 2rem;
}
.dd2{
    background-image: url("Group 40.png");
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    width:100%;
    height:auto;
    padding:50px;
    margin: 2rem 2rem 2rem 2rem;
}
.dd1t{
    padding: 20px;
    background-color: antiquewhite;
    color: black;
    opacity: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.dd2t{
    padding: 20px;
    background-color: antiquewhite;
    color: black;
    opacity: 80%;
    border-radius: 10px;
}
.sbutton{
    color: antiquewhite;
    background-color: rgb(255, 4, 4);
    border-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.Newsletter{
    display: flex;
    justify-content: space-around;
}
.NewsLetterBox{
    border-style: solid;
    border-radius: 20px;
    border-color: rgb(255, 110, 6);
    padding: 2%;
}
.nlib{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cH{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    background-color: #dadada88;
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
}

.socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
